
@media (min-width: 768px)  {
  .no-gutter {
    padding-right:0;
    padding-left:0;
    }
    .no-gutter-left{
        padding-left:0;
    }
    .no-gutter-right{
        padding-right:0;
    }
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.hidden-box, .hidden-text{
    display: none;
}
.page-header-2{
    padding-top:9px;
    border-top: 1px solid #eee;
    margin: 10px 0 20px 0;
    font-size: 22px;
}
.dataTable{
    font-size: 13.5px;
}